
body{
	background: #f4f4f4;
	font-family: $font__Karla;
}
.single-post{
	background-color: #ffffff;
	.intro-lead-in{
		display: none;
	}

}
.blog,
.single,
.category,
.archive,
.post-formats,
.error404,
.search,
body.page:not(#front-page)
{
	.site-content {
		padding: 1em;
		
		
		@media screen and (min-width: $query__small) {
			padding: 2em;
		}
	}


	.site-content {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		max-width: $size__max-width;
		margin: 24px auto;
		
	}
	.entry-title {
		color:#0cbff1;
		font-family: Arial;
		font-size: 38px;
		font-weight: 900;
		text-align: left;
	}
	.content-area{
		padding: 10px auto;
	}

	/* Single posts */
	@media screen and (min-width: $query__medium) {
		.single.has-sidebar,
		.page {

			.hentry {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.entry-header {
					width: 100%;
					flex: 1 0 100%;
				}

				.post-content {
					width: $size__ratio-large;
				}

				.widget-area {
					width: $size__ratio-small;
				}
			}

		}
		
		.page {
			&.has-page-sidebar {
				.hentry {
					flex-direction: row-reverse;
				}
			}
			&:not(.has-page-sidebar) {
				.hentry {
					justify-content: flex-end;
				}
			}
		}
	}


	@media screen and (min-width: $query__medium) {
		.single {	
			&.no-sidebar {

				.post-content__wrap {
					display: flex;
					justify-content: space-between;

					.entry-meta {
						width: 30%;
					}

					.post-content__body {
						width: 80%;
					}
				}

			}
		}
	}
}

.archive article button{
	background-color:#0cbff1;
    width: 260px;
	height: 50px;
	margin:5.5px; 
	a:visited {
		color: rgb(241, 241, 241)! important;
		padding: auto;
	}
	a:hover {
		color: rgb(255, 255, 255);
	}

}
.archive article button a{
	color: #fff;
}
.post-type-archive-portfilio  {
	h3.entry-title{
		color: rgb(7, 0, 0);

	}

 article img{
	 width:400px! important;
	 height: 250px! important;
 }
}
.entry-title a{
	color: rgb(3, 0, 0)! important;
	font-size: 21px! important;
	font-weight: bold;
	&:hover {
		border-bottom: 1px solid #0cbff1! important;
	}
}



.archive .content-area {
	.row{
		padding: 6px;
	}

h2{
	color: #a59887;
    padding-bottom: 20px;
	font-size: 30px;
}
button:hover {
    background-color: #188aab;
}

button{
	background-color: #0cbff1;
	
}
.btn{
	text-align: center;
	padding: auto;
	color:#fff;
        }
     }


