.page-template-page-work .content-area h1 {
  font-weight: 800;
  color: #0cbff1;
  text-decoration: underline;
}

.page-template-page-work .content-area img {
  max-width: 60%;
  height: auto;
}

.page-template-page-work .content-area .center {
  text-align: center;
}

.page-template-page-work .content-area .center img {
  width: 53px;
  height: 53px;
}

@media only screen and (max-width: 500px) {
  .page-template-page-work .content-area h1 {
    font-weight: 800;
    color: #0cbff1;
    text-decoration: underline;
  }
  .page-template-page-work .content-area img {
    max-width: 100%;
    height: auto;
  }
  .page-template-page-work .content-area .center {
    text-align: center;
  }
  .page-template-page-work .content-area .center img {
    width: 100%;
    height: auto;
  }
}
