@charset "UTF-8";
/*!
Theme Name: SitesDoneQuick
Theme URI: http://underscores.me/
Author: ProTech Internet Group
Author URI: https://protechig.com
Description: WordPress Theme for Sites Done Quick
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: sites-done-quick
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

SitesDoneQuick is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
a, button, .btn, input[type=submit] {
  -webkit-transition: all 0.35s cubic-bezier(0.35, 0, 0.68, 1.13) !important;
  transition: all 0.35s cubic-bezier(0.35, 0, 0.68, 1.13) !important;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  body,
  button,
  input,
  select,
  textarea {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .75em;
  margin-bottom: .25em;
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  clear: both;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.6em;
}

p {
  margin-top: .5em;
  margin-bottom: 1em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  position: relative;
  margin: 0 0 1em;
  background: #eee;
  padding: 1em 2em .5em 5em;
  font-style: italic;
}

blockquote:before {
  position: absolute;
  top: -.2em;
  left: -.13em;
  content: "“";
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 12em;
  line-height: 100%;
  color: white;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 18.75px;
  font-size: 1.17188rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 18.75px;
  font-size: 1.17188rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
  quotes: "" "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: .5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

thread th {
  border-bottom: 2px solid #bbb;
  padding-bottom: .5em;
}

td,
th {
  vertical-align: top;
}

th {
  padding: .4em;
  text-align: left;
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: .4em;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue;
}

a:visited {
  color: #0cbff1;
}

a:hover, a:focus, a:active {
  color: #f6a623;
  -webkit-transition: all 0.5s cubic-bezier(0.35, 0, 0.68, 1.13);
  transition: all 0.5s cubic-bezier(0.35, 0, 0.68, 1.13);
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  color: red;
  outline: 0;
  -webkit-transition: all 0.35s cubic-bezier(0.35, 0, 0.68, 1.13);
  transition: all 0.35s cubic-bezier(0.35, 0, 0.68, 1.13);
}

.page-content a,
.entry-content a,
.entry-summary a,
.comment-content a {
  text-decoration: none;
  border-bottom: 3px solid #0cbff1;
}

.page-content a:focus, .page-content a:hover,
.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.comment-content a:focus,
.comment-content a:hover {
  color: #0cbff1;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  float: left;
  position: relative;
  padding: 0 10px;
  margin: 0 10px;
  font-size: 30px;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 1000px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
    padding-top: 20px;
  }
  .main-navigation ul {
    visibility: hidden;
    list-style: none;
    margin: 0;
    padding-left: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 64px;
    left: 0;
    background: orange;
    height: calc(100vh - 64px);
    z-index: 999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-navigation ul ul {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
  }
  .main-navigation ul ul ul {
    left: -999em;
    top: 0;
  }
  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    left: 100%;
  }
  .main-navigation ul ul a {
    width: 200px;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: auto;
  }
  .main-navigation li {
    float: left;
    position: relative;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    visibility: visible;
  }
  .main-navigation li.current-menu-item a:after {
    content: '';
    border-bottom: 3px solid white;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    display: block;
    width: 30%;
    margin: 0 auto;
  }
  .main-navigation a {
    display: inline !important;
    text-decoration: none;
  }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
  padding: 2em 0;
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  text-align: left;
  overflow: hidden;
}

.comment-navigation a,
.posts-navigation a,
.post-navigation a,
.paging-navigation a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 1em;
  border: 1px solid #cccccc;
  color: black;
}

.comment-navigation a:hover, .comment-navigation a:focus,
.posts-navigation a:hover,
.posts-navigation a:focus,
.post-navigation a:hover,
.post-navigation a:focus,
.paging-navigation a:hover,
.paging-navigation a:focus {
  color: white;
  border-color: #0cbff1;
  background: #0cbff1;
}

.nav-links {
  margin: 0 auto;
  padding: 0 .4em;
}

.nav-previous {
  padding-bottom: 1em;
}

@media screen and (min-width: 900px) {
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
  }
  .comment-navigation .nav-previous,
  .comment-navigation .nav-next,
  .posts-navigation .nav-previous,
  .posts-navigation .nav-next,
  .post-navigation .nav-previous,
  .post-navigation .nav-next {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 48%;
  }
  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
    float: right;
    text-align: right;
  }
  .nav-previous {
    padding-bottom: 0;
  }
}

.post-navigation .meta-nav {
  display: block;
}

@media screen and (min-width: 30em) {
  .post-navigation {
    padding-bottom: 1em;
  }
}

.post-navigation .post-title {
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 3px solid #0cbff1;
}

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
  border-bottom-color: white;
}

.pagination {
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination a,
.pagination span {
  padding: .5em 1em;
  background: white;
}

.pagination a {
  text-decoration: none;
}

.pagination a:focus, .pagination a:hover {
  color: white;
  background: #0cbff1;
}

.pagination .current {
  font-weight: 600;
  color: #0cbff1;
}

.pagination .prev .icon {
  margin-right: 1em;
}

.pagination .next .icon {
  margin-left: 1em;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 17.5px;
  font-size: 1.09375rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
body {
  background: #f4f4f4;
  font-family: "Karla", sans-serif;
}

.single-post {
  background-color: #ffffff;
}

.single-post .intro-lead-in {
  display: none;
}

.blog,
.single,
.category,
.archive,
.post-formats,
.error404,
.search,
body.page:not(#front-page) {
  /* Single posts */
}

.blog .site-content,
.single .site-content,
.category .site-content,
.archive .site-content,
.post-formats .site-content,
.error404 .site-content,
.search .site-content,
body.page:not(#front-page) .site-content {
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .blog .site-content,
  .single .site-content,
  .category .site-content,
  .archive .site-content,
  .post-formats .site-content,
  .error404 .site-content,
  .search .site-content,
  body.page:not(#front-page) .site-content {
    padding: 2em;
  }
}

.blog .site-content,
.single .site-content,
.category .site-content,
.archive .site-content,
.post-formats .site-content,
.error404 .site-content,
.search .site-content,
body.page:not(#front-page) .site-content {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  max-width: 1080px;
  margin: 24px auto;
}

.blog .entry-title,
.single .entry-title,
.category .entry-title,
.archive .entry-title,
.post-formats .entry-title,
.error404 .entry-title,
.search .entry-title,
body.page:not(#front-page) .entry-title {
  color: #0cbff1;
  font-family: Arial;
  font-size: 38px;
  font-weight: 900;
  text-align: left;
}

.blog .content-area,
.single .content-area,
.category .content-area,
.archive .content-area,
.post-formats .content-area,
.error404 .content-area,
.search .content-area,
body.page:not(#front-page) .content-area {
  padding: 10px auto;
}

@media screen and (min-width: 900px) {
  .blog .single.has-sidebar .hentry,
  .blog .page .hentry,
  .single .single.has-sidebar .hentry,
  .single .page .hentry,
  .category .single.has-sidebar .hentry,
  .category .page .hentry,
  .archive .single.has-sidebar .hentry,
  .archive .page .hentry,
  .post-formats .single.has-sidebar .hentry,
  .post-formats .page .hentry,
  .error404 .single.has-sidebar .hentry,
  .error404 .page .hentry,
  .search .single.has-sidebar .hentry,
  .search .page .hentry,
  body.page:not(#front-page) .single.has-sidebar .hentry,
  body.page:not(#front-page) .page .hentry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog .single.has-sidebar .hentry .entry-header,
  .blog .page .hentry .entry-header,
  .single .single.has-sidebar .hentry .entry-header,
  .single .page .hentry .entry-header,
  .category .single.has-sidebar .hentry .entry-header,
  .category .page .hentry .entry-header,
  .archive .single.has-sidebar .hentry .entry-header,
  .archive .page .hentry .entry-header,
  .post-formats .single.has-sidebar .hentry .entry-header,
  .post-formats .page .hentry .entry-header,
  .error404 .single.has-sidebar .hentry .entry-header,
  .error404 .page .hentry .entry-header,
  .search .single.has-sidebar .hentry .entry-header,
  .search .page .hentry .entry-header,
  body.page:not(#front-page) .single.has-sidebar .hentry .entry-header,
  body.page:not(#front-page) .page .hentry .entry-header {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .blog .single.has-sidebar .hentry .post-content,
  .blog .page .hentry .post-content,
  .single .single.has-sidebar .hentry .post-content,
  .single .page .hentry .post-content,
  .category .single.has-sidebar .hentry .post-content,
  .category .page .hentry .post-content,
  .archive .single.has-sidebar .hentry .post-content,
  .archive .page .hentry .post-content,
  .post-formats .single.has-sidebar .hentry .post-content,
  .post-formats .page .hentry .post-content,
  .error404 .single.has-sidebar .hentry .post-content,
  .error404 .page .hentry .post-content,
  .search .single.has-sidebar .hentry .post-content,
  .search .page .hentry .post-content,
  body.page:not(#front-page) .single.has-sidebar .hentry .post-content,
  body.page:not(#front-page) .page .hentry .post-content {
    width: 60%;
  }
  .blog .single.has-sidebar .hentry .widget-area,
  .blog .page .hentry .widget-area,
  .single .single.has-sidebar .hentry .widget-area,
  .single .page .hentry .widget-area,
  .category .single.has-sidebar .hentry .widget-area,
  .category .page .hentry .widget-area,
  .archive .single.has-sidebar .hentry .widget-area,
  .archive .page .hentry .widget-area,
  .post-formats .single.has-sidebar .hentry .widget-area,
  .post-formats .page .hentry .widget-area,
  .error404 .single.has-sidebar .hentry .widget-area,
  .error404 .page .hentry .widget-area,
  .search .single.has-sidebar .hentry .widget-area,
  .search .page .hentry .widget-area,
  body.page:not(#front-page) .single.has-sidebar .hentry .widget-area,
  body.page:not(#front-page) .page .hentry .widget-area {
    width: 30%;
  }
  .blog .page.has-page-sidebar .hentry,
  .single .page.has-page-sidebar .hentry,
  .category .page.has-page-sidebar .hentry,
  .archive .page.has-page-sidebar .hentry,
  .post-formats .page.has-page-sidebar .hentry,
  .error404 .page.has-page-sidebar .hentry,
  .search .page.has-page-sidebar .hentry,
  body.page:not(#front-page) .page.has-page-sidebar .hentry {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .blog .page:not(.has-page-sidebar) .hentry,
  .single .page:not(.has-page-sidebar) .hentry,
  .category .page:not(.has-page-sidebar) .hentry,
  .archive .page:not(.has-page-sidebar) .hentry,
  .post-formats .page:not(.has-page-sidebar) .hentry,
  .error404 .page:not(.has-page-sidebar) .hentry,
  .search .page:not(.has-page-sidebar) .hentry,
  body.page:not(#front-page) .page:not(.has-page-sidebar) .hentry {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 900px) {
  .blog .single.no-sidebar .post-content__wrap,
  .single .single.no-sidebar .post-content__wrap,
  .category .single.no-sidebar .post-content__wrap,
  .archive .single.no-sidebar .post-content__wrap,
  .post-formats .single.no-sidebar .post-content__wrap,
  .error404 .single.no-sidebar .post-content__wrap,
  .search .single.no-sidebar .post-content__wrap,
  body.page:not(#front-page) .single.no-sidebar .post-content__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog .single.no-sidebar .post-content__wrap .entry-meta,
  .single .single.no-sidebar .post-content__wrap .entry-meta,
  .category .single.no-sidebar .post-content__wrap .entry-meta,
  .archive .single.no-sidebar .post-content__wrap .entry-meta,
  .post-formats .single.no-sidebar .post-content__wrap .entry-meta,
  .error404 .single.no-sidebar .post-content__wrap .entry-meta,
  .search .single.no-sidebar .post-content__wrap .entry-meta,
  body.page:not(#front-page) .single.no-sidebar .post-content__wrap .entry-meta {
    width: 30%;
  }
  .blog .single.no-sidebar .post-content__wrap .post-content__body,
  .single .single.no-sidebar .post-content__wrap .post-content__body,
  .category .single.no-sidebar .post-content__wrap .post-content__body,
  .archive .single.no-sidebar .post-content__wrap .post-content__body,
  .post-formats .single.no-sidebar .post-content__wrap .post-content__body,
  .error404 .single.no-sidebar .post-content__wrap .post-content__body,
  .search .single.no-sidebar .post-content__wrap .post-content__body,
  body.page:not(#front-page) .single.no-sidebar .post-content__wrap .post-content__body {
    width: 80%;
  }
}

.archive article button {
  background-color: #0cbff1;
  width: 260px;
  height: 50px;
  margin: 5.5px;
}

.archive article button a:visited {
  color: #f1f1f1 !important;
  padding: auto;
}

.archive article button a:hover {
  color: white;
}

.archive article button a {
  color: #fff;
}

.post-type-archive-portfilio h3.entry-title {
  color: #070000;
}

.post-type-archive-portfilio article img {
  width: 400px !important;
  height: 250px !important;
}

.entry-title a {
  color: #030000 !important;
  font-size: 21px !important;
  font-weight: bold;
}

.entry-title a:hover {
  border-bottom: 1px solid #0cbff1 !important;
}

.archive .content-area .row {
  padding: 6px;
}

.archive .content-area h2 {
  color: #a59887;
  padding-bottom: 20px;
  font-size: 30px;
}

.archive .content-area button:hover {
  background-color: #188aab;
}

.archive .content-area button {
  background-color: #0cbff1;
}

.archive .content-area .btn {
  text-align: center;
  padding: auto;
  color: #fff;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.entry-header {
  font-family: "Karla", sans-serif;
}

.cat-links {
  font-size: 90%;
  font-weight: 700;
}

.cat-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: #292626;
}

.cat-links a:focus, .cat-links a:hover {
  background-color: #0cbff1;
  color: white;
}

.entry-title {
  margin: .125em 0 .25em;
  font-size: 2.5em;
}

@media screen and (min-width: 900px) {
  .entry-title {
    font-size: 3em;
  }
}

.entry-title a {
  text-decoration: none;
  color: black;
}

.entry-title a:focus, .entry-title a:hover {
  border-bottom: 5px solid #0cbff1;
}

.entry-meta,
.entry-footer {
  font-family: "Karla", sans-serif;
  font-size: 40%;
}

.entry-meta a,
.entry-footer a {
  font-weight: 400;
  text-decoration: none;
  color: #0cbff1;
}

.entry-meta a:focus, .entry-meta a:hover,
.entry-footer a:focus,
.entry-footer a:hover {
  color: black;
  border-bottom: 3px solid #0cbff1;
}

.byline::after {
  content: "|";
  margin: 0 .5em;
}

.comments-link::before,
.edit-link::before {
  content: "|";
  margin: 0 .5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.extra {
  display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */
.no-sidebar .entry-meta {
  margin-top: 1.5em;
}

@media screen and (min-width: 900px) {
  .no-sidebar .post-content__wrap .entry-meta {
    margin-top: 2.25em;
    font-size: 60%;
  }
  .no-sidebar .post-content__wrap .entry-meta a {
    font-size: 50%;
    display: block;
    border-bottom: 3px solid white;
  }
  .no-sidebar .post-content__wrap .entry-meta a:hover, .no-sidebar .post-content__wrap .entry-meta a:focus {
    border-bottom-color: #0cbff1;
  }
  .no-sidebar .post-content__wrap .byline,
  .no-sidebar .post-content__wrap .posted-on,
  .no-sidebar .post-content__wrap .comments-link,
  .no-sidebar .post-content__wrap .edit-link {
    display: block;
    margin-bottom: 1em;
  }
  .no-sidebar .post-content__wrap .byline:before, .no-sidebar .post-content__wrap .byline:after,
  .no-sidebar .post-content__wrap .posted-on:before,
  .no-sidebar .post-content__wrap .posted-on:after,
  .no-sidebar .post-content__wrap .comments-link:before,
  .no-sidebar .post-content__wrap .comments-link:after,
  .no-sidebar .post-content__wrap .edit-link:before,
  .no-sidebar .post-content__wrap .edit-link:after {
    margin: 0;
    content: "";
  }
  .no-sidebar .post-content__wrap .extra {
    display: inline;
  }
}

/* Single Post Featured Images */
.full-bleed {
  max-height: 600px;
  margin-top: 1em;
  margin-left: -1em;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .full-bleed {
    margin-left: -2em;
  }
}

@media screen and (min-width: 900px) {
  .full-bleed {
    margin-top: 1.5em;
    margin-right: -2em;
  }
}

@media screen and (min-width: 1080px) {
  .full-bleed {
    margin-right: calc( ((-100vw + 1080px)/2) - 2em);
    margin-left: calc( ((-100vw + 1080px)/2) - 2em);
  }
}

.full-bleed img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  max-height: 350px;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-footer {
  margin: 1.5em 0;
  font-family: "Karla", sans-serif;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
  max-width: 800px;
  margin: auto;
  padding: 1.5em 0;
  border-top: 1px solid #cccccc;
}

.comments-title {
  margin-bottom: 2em;
  font-size: 2.5em;
  font-weight: 900;
}

.comment-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.comment-list ol {
  list-style-type: none;
}

.comment-body {
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 3em;
}

.comment-meta {
  position: relative;
  margin-left: 70px;
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 80%;
}

.comment-meta a,
.comment-form a {
  text-decoration: none;
  border: none;
}

.comment-meta a:hover, .comment-meta a:focus,
.comment-form a:hover,
.comment-form a:focus {
  text-decoration: underline;
}

.comment .avatar {
  position: absolute;
  top: -5px;
  left: -70px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.children {
  margin-left: 1em;
  padding-left: 0;
}

@media screen and (min-width: 900px) {
  .children {
    margin-left: 2em;
  }
}

@media screen and (min-width: 900px) {
  .no-sidebar .children {
    margin-left: 2em;
  }
  .no-sidebar .children .comment-meta {
    margin-left: 80px;
    font-size: 90%;
  }
  .no-sidebar .children .comment .avatar {
    top: -7px;
    left: -80px;
    width: 60px;
    height: 60px;
  }
  .no-sidebar .children .comment-content {
    margin-left: 80px;
  }
}

@media screen and (min-width: 1080px) {
  .no-sidebar .children {
    margin-left: 3em;
  }
  .no-sidebar .comment-meta {
    margin-left: 90px;
  }
  .no-sidebar .comment .avatar {
    top: -8px;
    left: -90px;
    width: 70px;
    height: 70px;
  }
  .no-sidebar .comment-content {
    margin-left: 90px;
  }
}

.comment-metadata {
  margin-top: .2em;
  padding-bottom: .5em;
  font-size: .8em;
  line-height: 1em;
}

.comment-metadata a {
  color: #7D7D7D;
}

.comment-metadata a:hover, .comment-metadata a:focus {
  border-color: #c3c3c3;
}

.comment-author {
  font-size: 1.4em;
  line-height: 1.3em;
}

.says {
  font-size: 80%;
}

.reply {
  margin-bottom: 1.5em;
  text-align: right;
}

.reply a {
  display: inline-block;
  padding: .5em 1.4em;
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 85%;
  color: #000;
  line-height: 1.3em;
  text-decoration: none;
  border: 1px solid #c3c3c3;
}

.reply a:hover, .reply a:focus {
  color: #fff;
  background: #0cbff1;
  border-color: #0cbff1;
}

.comment-content ol {
  list-style-type: decimal;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor .avatar {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 5px solid #0cbff1;
  margin-top: -5px;
  margin-left: -5px;
}

/* Comment Form */
.comment-reply-title {
  margin-bottom: 1em;
}

.comment-list .comment-reply-title {
  text-align: left;
}

.comment-form {
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  line-height: 1.3em;
}

.comment-form a {
  font-weight: 500;
}

.comment-form .form-submit {
  text-align: right;
}

.comment-form .form-submit input {
  padding: .5em 1.4em;
  font-size: 85%;
  color: #000;
  line-height: 1.3em;
  text-decoration: none;
  border: 1px solid #c3c3c3;
}

.comment-form .form-submit input:hover, .comment-form .form-submit input:focus {
  color: #fff;
  background: #0cbff1;
  border-color: #0cbff1;
}

.comment-form label {
  width: 33%;
  display: block;
  font-style: italic;
  padding-bottom: .4em;
}

.comment-form .required {
  color: #D54E21;
}

.pingback {
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.pingback .comment-body {
  padding: 1em 0;
}

.pingback a {
  font-style: italic;
  text-decoration: none;
}

.blog,
.single,
.category,
.archive,
.post-formats,
.error404,
.search,
body.page:not(#front-page) {
  /* Icon 1 */
}

.blog #site-navigation,
.single #site-navigation,
.category #site-navigation,
.archive #site-navigation,
.post-formats #site-navigation,
.error404 #site-navigation,
.search #site-navigation,
body.page:not(#front-page) #site-navigation {
  background: none;
  visibility: visible;
}

.blog .main-navigation,
.single .main-navigation,
.category .main-navigation,
.archive .main-navigation,
.post-formats .main-navigation,
.error404 .main-navigation,
.search .main-navigation,
body.page:not(#front-page) .main-navigation {
  display: block;
  font-weight: 400;
  clear: left;
}

.blog .main-navigation ul,
.single .main-navigation ul,
.category .main-navigation ul,
.archive .main-navigation ul,
.post-formats .main-navigation ul,
.error404 .main-navigation ul,
.search .main-navigation ul,
body.page:not(#front-page) .main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.blog .main-navigation ul li,
.single .main-navigation ul li,
.category .main-navigation ul li,
.archive .main-navigation ul li,
.post-formats .main-navigation ul li,
.error404 .main-navigation ul li,
.search .main-navigation ul li,
body.page:not(#front-page) .main-navigation ul li {
  position: relative;
}

.blog .main-navigation ul li a,
.single .main-navigation ul li a,
.category .main-navigation ul li a,
.archive .main-navigation ul li a,
.post-formats .main-navigation ul li a,
.error404 .main-navigation ul li a,
.search .main-navigation ul li a,
body.page:not(#front-page) .main-navigation ul li a {
  width: 100%;
  display: block !important;
  color: #fff;
}

.blog .main-navigation .entry-title,
.single .main-navigation .entry-title,
.category .main-navigation .entry-title,
.archive .main-navigation .entry-title,
.post-formats .main-navigation .entry-title,
.error404 .main-navigation .entry-title,
.search .main-navigation .entry-title,
body.page:not(#front-page) .main-navigation .entry-title {
  display: none;
}

.blog .header-img,
.single .header-img,
.category .header-img,
.archive .header-img,
.post-formats .header-img,
.error404 .header-img,
.search .header-img,
body.page:not(#front-page) .header-img {
  background-image: url("./img/group-4.jpg");
  background-position: center center;
  background-repeat: none;
  height: 220px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.blog .heading,
.single .heading,
.category .heading,
.archive .heading,
.post-formats .heading,
.error404 .heading,
.search .heading,
body.page:not(#front-page) .heading {
  text-align: center;
  color: #fff;
}

.blog .heading .intro-text,
.single .heading .intro-text,
.category .heading .intro-text,
.archive .heading .intro-text,
.post-formats .heading .intro-text,
.error404 .heading .intro-text,
.search .heading .intro-text,
body.page:not(#front-page) .heading .intro-text {
  padding-top: 120px;
  font-size: 36px;
}

@media (max-width: 768px) {
  .blog .heading .intro-text,
  .single .heading .intro-text,
  .category .heading .intro-text,
  .archive .heading .intro-text,
  .post-formats .heading .intro-text,
  .error404 .heading .intro-text,
  .search .heading .intro-text,
  body.page:not(#front-page) .heading .intro-text {
    padding-bottom: 10px;
    font-size: 36px;
  }
  .blog .header-img,
  .single .header-img,
  .category .header-img,
  .archive .header-img,
  .post-formats .header-img,
  .error404 .header-img,
  .search .header-img,
  body.page:not(#front-page) .header-img {
    background-repeat: none;
    background-repeat: no-repeat;
    background: orange;
  }
  .blog .navbar-header.page-scroll,
  .single .navbar-header.page-scroll,
  .category .navbar-header.page-scroll,
  .archive .navbar-header.page-scroll,
  .post-formats .navbar-header.page-scroll,
  .error404 .navbar-header.page-scroll,
  .search .navbar-header.page-scroll,
  body.page:not(#front-page) .navbar-header.page-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.blog #nav-icon1,
.single #nav-icon1,
.category #nav-icon1,
.archive #nav-icon1,
.post-formats #nav-icon1,
.error404 #nav-icon1,
.search #nav-icon1,
body.page:not(#front-page) #nav-icon1 {
  width: 60px;
  height: 100%;
  position: relative;
  float: right;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.blog #nav-icon1 span,
.single #nav-icon1 span,
.category #nav-icon1 span,
.archive #nav-icon1 span,
.post-formats #nav-icon1 span,
.error404 #nav-icon1 span,
.search #nav-icon1 span,
body.page:not(#front-page) #nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.blog #nav-icon1 span:nth-child(1),
.single #nav-icon1 span:nth-child(1),
.category #nav-icon1 span:nth-child(1),
.archive #nav-icon1 span:nth-child(1),
.post-formats #nav-icon1 span:nth-child(1),
.error404 #nav-icon1 span:nth-child(1),
.search #nav-icon1 span:nth-child(1),
body.page:not(#front-page) #nav-icon1 span:nth-child(1) {
  top: 0px;
}

.blog #nav-icon1 span:nth-child(2), .blog #nav-icon1 span:nth-child(3),
.single #nav-icon1 span:nth-child(2),
.single #nav-icon1 span:nth-child(3),
.category #nav-icon1 span:nth-child(2),
.category #nav-icon1 span:nth-child(3),
.archive #nav-icon1 span:nth-child(2),
.archive #nav-icon1 span:nth-child(3),
.post-formats #nav-icon1 span:nth-child(2),
.post-formats #nav-icon1 span:nth-child(3),
.error404 #nav-icon1 span:nth-child(2),
.error404 #nav-icon1 span:nth-child(3),
.search #nav-icon1 span:nth-child(2),
.search #nav-icon1 span:nth-child(3),
body.page:not(#front-page) #nav-icon1 span:nth-child(2),
body.page:not(#front-page) #nav-icon1 span:nth-child(3) {
  top: 18px;
}

.blog #nav-icon1 span:nth-child(4),
.single #nav-icon1 span:nth-child(4),
.category #nav-icon1 span:nth-child(4),
.archive #nav-icon1 span:nth-child(4),
.post-formats #nav-icon1 span:nth-child(4),
.error404 #nav-icon1 span:nth-child(4),
.search #nav-icon1 span:nth-child(4),
body.page:not(#front-page) #nav-icon1 span:nth-child(4) {
  top: 36px;
}

.blog .toggled #nav-icon1 span:nth-child(1),
.single .toggled #nav-icon1 span:nth-child(1),
.category .toggled #nav-icon1 span:nth-child(1),
.archive .toggled #nav-icon1 span:nth-child(1),
.post-formats .toggled #nav-icon1 span:nth-child(1),
.error404 .toggled #nav-icon1 span:nth-child(1),
.search .toggled #nav-icon1 span:nth-child(1),
body.page:not(#front-page) .toggled #nav-icon1 span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.blog .toggled #nav-icon1 span:nth-child(2),
.single .toggled #nav-icon1 span:nth-child(2),
.category .toggled #nav-icon1 span:nth-child(2),
.archive .toggled #nav-icon1 span:nth-child(2),
.post-formats .toggled #nav-icon1 span:nth-child(2),
.error404 .toggled #nav-icon1 span:nth-child(2),
.search .toggled #nav-icon1 span:nth-child(2),
body.page:not(#front-page) .toggled #nav-icon1 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.blog .toggled #nav-icon1 span:nth-child(3),
.single .toggled #nav-icon1 span:nth-child(3),
.category .toggled #nav-icon1 span:nth-child(3),
.archive .toggled #nav-icon1 span:nth-child(3),
.post-formats .toggled #nav-icon1 span:nth-child(3),
.error404 .toggled #nav-icon1 span:nth-child(3),
.search .toggled #nav-icon1 span:nth-child(3),
body.page:not(#front-page) .toggled #nav-icon1 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.blog .toggled #nav-icon1 span:nth-child(4),
.single .toggled #nav-icon1 span:nth-child(4),
.category .toggled #nav-icon1 span:nth-child(4),
.archive .toggled #nav-icon1 span:nth-child(4),
.post-formats .toggled #nav-icon1 span:nth-child(4),
.error404 .toggled #nav-icon1 span:nth-child(4),
.search .toggled #nav-icon1 span:nth-child(4),
body.page:not(#front-page) .toggled #nav-icon1 span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.site-footer {
  font-size: 21px;
  padding: 1em;
  color: #0cbff1;
  background-color: #050505;
  text-align: center;
}

.site-info a {
  color: #0cbff1;
}

.site-info .fa {
  font-size: 1px;
  padding: 0 5px;
  width: 0.5em;
}

.site-info a:hover {
  color: white;
  text-decoration: none;
}

.blog, .home {
  width: 100%;
}

.blog .work, .home .work {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  background-color: #ffff;
}

.blog .work img, .home .work img {
  margin-top: 40px;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.blog .work h4, .home .work h4 {
  color: gray;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 20px;
}

.blog .work h2, .home .work h2 {
  color: #0cbff1;
  border-bottom: 5px solid #0cbff1;
  display: inline;
}

.blog .work .paragraph, .home .work .paragraph {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
}

.blog .goals, .home .goals {
  background-color: #fff6e7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px;
}

.blog .goals img, .home .goals img {
  height: 80px;
  width: auto;
}

.blog .carousel, .home .carousel {
  padding: 40px;
  background-color: #0cbff1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog .excerpt, .home .excerpt {
  max-height: 50%;
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  border: 1px solid #0cbff1 !important;
  -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: #272522;
  font-family: Georgia;
  font-style: italic;
  line-height: 20px;
}

.blog .excerpt a, .home .excerpt a {
  color: #ffcc00;
  display: block;
  font-size: 14px;
  margin-top: 3px;
  text-decoration: underline;
}

.blog .img-responsive, .home .img-responsive {
  display: inline-block;
  max-width: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.blog .excerpt:hover, .home .excerpt:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.home {
  background-color: #fff;
  max-height: 520px;
}

.home #site-navigation {
  background: none;
}

.home .main-navigation {
  display: block;
  font-weight: 400;
  clear: left;
}

.home .main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.home .main-navigation ul li {
  position: relative;
}

.home .main-navigation ul li a {
  width: 100%;
  display: block !important;
  color: #fff;
}

.home .main-navigation .entry-title {
  display: none;
}

.home .btn-xl:hover {
  background-color: #188aab;
}

.home .btn-xl {
  padding: 20px 40px;
  border-color: #0cbff1;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #0cbff1;
}

.home .header-img {
  background-image: url("./img/headerimg.svg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: none;
  background-size: cover;
}

.home .heading {
  text-align: center;
  color: #fff;
}

.home .heading .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

.home .heading .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
}

.home .heading .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

.home .heading .intro-code {
  margin-bottom: 25px;
  font-size: 18px;
  font-style: italic;
  line-height: 18px;
}

@media (min-width: 768px) {
  .home .btn-xl {
    padding: 20px 40px;
    border-color: #0cbff1;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #0cbff1;
  }
  .home .heading .intro-text {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .home .heading .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }
  .home .heading .intro-text .intro-heading {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: bold;
    line-height: 65px;
    height: 120px;
  }
  .home .heading .intro-code {
    margin-bottom: 25px;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .home {
    /* Icon 1 */
  }
  .home .main-navigation ul li a {
    margin: .35em auto;
  }
  .home .goals {
    padding: 0;
    margin: 5px;
  }
  .home .goals .row {
    margin-top: 30px;
  }
  .home .goals img {
    display: block;
    margin: 0 auto;
  }
  .home .goals .col-12 {
    text-align: center;
  }
  .home .navbar-header.page-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .home #nav-icon1 {
    width: 60px;
    height: 100%;
    position: relative;
    float: right;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .home #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .home #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  .home #nav-icon1 span:nth-child(2), .home #nav-icon1 span:nth-child(3) {
    top: 18px;
  }
  .home #nav-icon1 span:nth-child(4) {
    top: 36px;
  }
  .home .toggled #nav-icon1 span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .home .toggled #nav-icon1 span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .home .toggled #nav-icon1 span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .home .toggled #nav-icon1 span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}

.gform_wrapper label {
  color: #0cbff1;
}

.gform_wrapper .gform_button {
  background-color: #0cbff1;
  color: #ffff;
}

.gform_wrapper input[type=text], .gform_wrapper input[type=email], .gform_wrapper input[type=url], .gform_wrapper textarea {
  border: 1px solid #0cbff1;
}

.gform_wrapper input[type=text]:focus, .gform_wrapper input[type=email]:focus, .gform_wrapper input[type=url]:focus, .gform_wrapper textarea:focus {
  outline: none !important;
}

.page-template-page-faqs {
  background-color: #f4f4f4;
}

.page-template-page-faqs .faqs-info {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 8px 0 rgba(155, 155, 155, 0.5);
          box-shadow: 0 0 8px 0 rgba(155, 155, 155, 0.5);
}

.page-template-page-faqs .faqs-info .question {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 21px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.page-template-page-faqs .faqs-info .question svg {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.page-template-page-faqs .faqs-info .question.active svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-template-page-faqs .faqs-info .answer {
  display: none;
  margin-top: 3px;
  margin-bottom: 30px;
  padding: 5px 10px;
  margin-left: 20px;
  font-size: 22px;
  letter-spacing: -0.1px;
  text-align: left;
}

.blog .post__content, .archive .post__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  font-size: 16px;
  width: 100%;
}

.blog .post__content .entry-title, .archive .post__content .entry-title {
  font-size: 1em;
  text-transform: uppercase;
}

.blog article, .archive article {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog article img, .archive article img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog article .entry-header, .blog article .entry-content, .blog article .continue-reading, .archive article .entry-header, .archive article .entry-content, .archive article .continue-reading {
  padding: 10px 20px 0 20px;
}

.blog article .entry-content, .archive article .entry-content {
  font-size: 10px;
  margin-top: 0;
}

.blog article .entry-meta, .archive article .entry-meta {
  font-size: 9px;
  color: #4a4a4a;
  margin-bottom: 10px;
  padding-top: 20px;
}

.blog a.read-arrow, .archive a.read-arrow {
  height: 40px;
  width: 40px;
  color: white;
  background: #f6a623;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 175px;
  left: 75%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-decoration: none;
}

.blog a.read-arrow:hover, .archive a.read-arrow:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.blog article {
  max-width: 300px;
}

.blog article .entry-title
a {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  color: #0cbff1 !important;
}

.blog article .entry-title
a:hover {
  border-bottom: 1px solid #0cbff1;
}

@media (max-width: 768px) {
  .blog article {
    max-width: none;
  }
}

.single-portfolio .site-content {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.single-portfolio .cat-links {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.single-portfolio .cat-links a {
  color: #666565;
}

.single-portfolio .block-image_right img {
  max-width: 400px;
  height: auto;
}

.single-portfolio .block-image_left div:first-child {
  padding-left: 0;
}

.single-portfolio .block-image_right, .single-portfolio .block-image_left {
  color: #fff;
}

.page-template-page-work .content-area h1 {
  font-weight: 800;
  color: #0cbff1;
  text-decoration: underline;
}

.page-template-page-work .content-area img {
  max-width: 60%;
  height: auto;
}

.page-template-page-work .content-area .center {
  text-align: center;
}

.page-template-page-work .content-area .center img {
  width: 53px;
  height: 53px;
}

@media only screen and (max-width: 500px) {
  .page-template-page-work .content-area h1 {
    font-weight: 800;
    color: #0cbff1;
    text-decoration: underline;
  }
  .page-template-page-work .content-area img {
    max-width: 100%;
    height: auto;
  }
  .page-template-page-work .content-area .center {
    text-align: center;
  }
  .page-template-page-work .content-area .center img {
    width: 100%;
    height: auto;
  }
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 2em;
  max-width: 80%;
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  font-size: 60%;
  color: #666666;
  text-align: center;
}

.wp-caption a {
  color: inherit;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: .5em 0 1.5em 1em;
}

@media screen and (min-width: 600px) {
  .wp-caption .wp-caption-text {
    margin-left: 2em;
  }
}

@media screen and (min-width: 900px) {
  .wp-caption .wp-caption-text {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin: 1.5em 0;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
  padding: 1em;
}

.gallery-item img {
  display: block;
}

.gallery-item a {
  display: inline-block;
  border-bottom: none;
}

.gallery-item a:hover, .gallery-item a:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gallery-item a:hover img, .gallery-item a:focus img {
  border-color: #0cbff1;
}

.gallery-item a img {
  padding: .5em;
  margin: 0 auto;
  border: 1px solid #fff;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
  margin: 0;
  font-family: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
  border: none;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.wp-caption.aligncenter,
.centered-image {
  max-width: 100vw;
}
