.wp-caption {
	margin-bottom: 2em;
	max-width: 80%;
	font-family: $font__sans;
	font-size: 60%;
	color: hsl(0, 0%, 40%);
	text-align: center;

	a {
		color: inherit;
	}
	
	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: .5em 0 1.5em 1em;
		
		@media screen and (min-width: $query__small) {
			margin-left: 2em;
		}
		
		@media screen and (min-width: $query__medium) {
			margin-left: 0;
		}
	}
}


