

.gallery {
	margin: 1.5em 0;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 1em;
	
	img {
		display: block;
	}
	
	a {
		display: inline-block;
		border-bottom: none;
		
		&:hover,
		&:focus {
			border-bottom: none;
			box-shadow: none;
			
			img {
				border-color: $color__skin;
			}
		}
		
		img {
			padding: .5em;
			margin: 0 auto;
			border: 1px solid #fff;
		}
	}
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}


.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	margin: 0;
	font-family: $font__sans;
	border: none;
}