.single-portfolio {
    .site-content {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .cat-links {
        display: block;
        text-align: center;
        padding-top: 20px;
        a {
            color: rgb(102, 101, 101);
        }
    }
    .block-image_right {
        img {
            max-width: 400px;
            height: auto;
        }
    }
    .block-image_left div:first-child {
        padding-left: 0;
    }
    .block-image_right, .block-image_left {
        color: #fff;
    }
}