.page-template-page-faqs{
    background-color: #f4f4f4;

.faqs-info {
background-color: #ffffff;
box-shadow: 0 0 8px 0 rgba(155, 155, 155, 0.5);	
.question{
    box-shadow: none;
    font-size: 21px;
    margin-bottom: 20px;
    padding: 5px 10px; 
    svg {
        transition: transform .5s ease;   
    }
    &.active svg {
        transform: rotate(90deg);
    }
}
.answer{
    display: none;
    margin-top:3px;	
    margin-bottom: 30px;
    padding: 5px 10px;
    margin-left:20px;
    font-size: 22px;
    letter-spacing: -0.1px;
    text-align: left;
    
            }
}
}