.site-footer {
    font-size: 21px;
	padding: 1em;
	color: #0cbff1;
	background-color: #050505;
	text-align: center;
}
.site-info {
	a{
		color: #0cbff1;
	}
	.fa {
		font-size: 1px;
		padding: 0 5px;
		width: 0.5em;
	}
	a:hover{
		color: white;
		text-decoration: none;
	}
}