.blog, .archive {
	.post__content {
		display:flex;
		flex-direction:column;
		background: #ffffff;
		font-size:16px;
		width: 100%;
	
		.entry-title {
			font-size: 1em;
			text-transform: uppercase;
		}
	}
	article {
		margin-bottom: 50px;
		display: flex;
		img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}
		.entry-header, .entry-content, .continue-reading {
			padding: 10px 20px 0 20px;
		}
		.entry-content {
			font-size: 10px;
			margin-top: 0;
		}
		
		.entry-meta {
			font-size: 9px;
			color: #4a4a4a;
			margin-bottom: 10px;
			padding-top: 20px;
		}
	}
	a.read-arrow {
		height: 40px;
		width: 40px;
		color: white;
		background: #f6a623;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
		position: absolute;
		top: 175px;
		left: 75%;
		transition: all .5s ease;
		text-decoration: none;

		&:hover {
			//background: darken(#f6a623, 10%);
			box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);

		}
	}
}

.blog article{
	max-width: 300px;
	.entry-title 
		a { font-family: Arial;
			font-size: 16px;
			font-weight: 900;
			text-align: left;
			color: #0cbff1! important;
			&:hover {
				border-bottom: 1px solid #0cbff1;

			}

}
}
@media(max-width:768px){
.blog article {
    max-width: none;
}
}