.page-template-page-work{
    .content-area{
        h1 {
            font-weight: 800;
            color: #0cbff1;
            text-decoration: underline;
            
        } 
        img{
            max-width: 60%;
            height: auto;
        } 
        .center{
            text-align: center;
            img{
                width: 53px;
                height: 53px;
            }
        }
    }
}
@media only screen and (max-width: 500px) {
    .page-template-page-work{
        .content-area{
            h1 {
                font-weight: 800;
                color: #0cbff1;
                text-decoration: underline;
                
            } 
            img{
                max-width: 100%;
                height: auto;
            } 
            .center{
                text-align: center;
                img{
                    width: 100%;
                    height: auto
                }
            }
        }
    }   
}