.blog,.home {
    width:100%;
    
        .work {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
            background-color: #ffff;

            img {
                margin-top: 40px;
                height: auto;
                max-width: 300px;
                margin: 0 auto;
                object-fit: contain;
                display: block;
            }
            h4{
                color: gray;
                text-transform: uppercase;
                font-size:15px;
                padding-bottom: 20px;
            }
            
            h2 {
                color: #0cbff1;
                border-bottom: 5px solid #0cbff1;
                display: inline;
            
            }
            .paragraph{
                font-size: 22px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: -0.1px;
                text-align: center;
              
            }
        }


        .goals {
            background-color: #fff6e7;
            justify-content: center;
            padding: 100px;
            img {
                height: 80px;
                width: auto;
                
        }
    }

        .carousel {
            padding: 40px;
            background-color: #0cbff1;
            margin: 0;
            display: flex;
            justify-content: center;
        }
        
        .excerpt{
            max-height: 50%;
            position: relative;
            text-align: center;
            background-color:rgba(0, 0, 0, 0.1);
            margin: 10px auto;
            border: 1px solid $color__skin!important;
            box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
            color:#272522;
            font-family: Georgia;
            font-style: italic;
            line-height: 20px;
               
            
            a{
                color: #ffcc00;
                display: block;
                font-size: 14px;
                margin-top: 3px;
                text-decoration: underline;
            }
        }
           
        
            .img-responsive{
                display: inline-block;
                max-width: 80px;
                border-radius: 50%;
                overflow: hidden;
            } 
            .excerpt:hover{
                background-color: rgba(0, 0, 0, 0.8);
                color:white;
            }
        }