.blog,
.single,
.category,
.archive,
.post-formats,
.error404,
.search,
body.page:not(#front-page)
{

   
    #site-navigation {
        background: none;
        visibility: visible;
        }
    
    .main-navigation {
        display: block;
        font-weight: 400;
        clear: left;
        ul{
            list-style: none;
            margin: 0;
            padding-left: 0;
           li{
            position: relative;
            
    
               a{
                width: 100%;
                display: block!important;
                color: #fff;
               }
           }
    
        }
        .entry-title {
            display: none;
        }
    }
 
     .header-img{
        background-image:url("./img/group-4.jpg");
        background-position: center center;
        background-repeat: none;
        height: 220px;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    
    .heading {
        text-align: center;
        color: #fff; 
    }
    
    .heading  .intro-text {
        padding-top: 120px;
        font-size: 36px;
        
    }
    
    
    @media(max-width:768px) {
        .heading  .intro-text {
            padding-bottom: 10px;
            font-size:36px;
        }
        .header-img{
            
            background-repeat: none;
            background-repeat: no-repeat;
            background: orange;
        }
        .navbar-header.page-scroll {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }  
    #nav-icon1 {
        width: 60px;
        height: 100%;
        position: relative;
        float: right;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      
      #nav-icon1 span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      
      
      
      /* Icon 1 */
      
      #nav-icon1 span:nth-child(1) {
        top: 0px;
      }
      
      #nav-icon1 span:nth-child(2),#nav-icon1 span:nth-child(3) {
        top: 18px;
      }
      
      #nav-icon1 span:nth-child(4) {
        top: 36px;
      }
      
     .toggled  #nav-icon1 span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      
      .toggled #nav-icon1 span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      .toggled #nav-icon1 span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      .toggled #nav-icon1 span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
        



}