$font__serif: 'PT Serif',Georgia,Cambria,"Times New Roman",Times,serif;
$font__sans: 'Source Sans Pro',"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
$font__Karla: 'Karla', sans-serif;;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

a, button, .btn, input[type=submit] {
	transition: all .35s cubic-bezier(0.35, 0, 0.68, 1.13)!important;
}