
.gform_wrapper{
    label{
   color: #0cbff1;
    }
    .gform_button{
        background-color: #0cbff1;
        color: #ffff;
    }
    input[type=text],input[type=email],input[type=url],textarea{
        border: 1px solid #0cbff1; 
        &:focus{
                outline:none !important;  
        }  
    }

}

