a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		transition: all .5s cubic-bezier(0.35, 0, 0.68, 1.13)
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		color: red;
		outline: 0;
		transition: all .35s cubic-bezier(0.35, 0, 0.68, 1.13)
	}
}

.page-content,
.entry-content,
.entry-summary,
.comment-content {
	
	a {
		text-decoration: none;
		border-bottom: 3px solid $color__skin;
		
		&:focus,
		&:hover {
			color: $color__skin;
		}
	}
}