
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		padding: 0 10px;
		margin: 0 10px;
		font-size: 30px;

	}

	a {
		display: block;
		text-decoration: none;
	}

	
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
	opacity: 1;
    visibility: visible;
}

@media screen and (min-width: 1000px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		
		display: block;
		
	}
}
@media screen and (max-width: 768px) {
	.main-navigation {
		clear: both;
		display: block;
		float: left;
		width: 100%;
		padding-top: 20px;
	
		ul {
			visibility: hidden;
			list-style: none;
			margin: 0;
			padding-left: 0;
			transition: all 500ms;
			opacity: 0;
			display: flex;
			position: absolute;
			top: 64px;
			left: 0;
			background: orange;
			height: calc(100vh - 64px);
			z-index: 999;
			flex-direction: column;
			width: 100%;
			justify-content: center;
	
			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
	
				ul {
					left: -999em;
					top: 0;
				}
	
				li {
					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}
	
				a {
					width: 200px;
				}
			}
	
			li:hover > ul,
			li.focus > ul {
				left: auto;
			}
		}
	
		li {
			float: left;
			position: relative;
			text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
			width: 100%;
			text-align: center;
			font-weight: 800;
			font-size: 36px;
			visibility: visible;
	
	
			&.current-menu-item a{
				&:after {
					content: '';
					border-bottom: 3px solid white;
					box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
					display: block;
					width: 30%;
					margin: 0 auto;
				}
				
			}
	
		}
	
		a {
			display: inline!important;
			text-decoration: none;
		}
	
	
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
