.home {
    background-color: #fff;
    max-height: 520px;

    #site-navigation {
        background: none;
    }
    .main-navigation {
        display: block;
        font-weight: 400;
        clear: left;
        ul{
            list-style: none;
            margin: 0;
            
            padding-left: 0;
           li{
            position: relative;
            
    
               a{
                width: 100%;
                display: block!important;
                color: #fff;
               }
           }
    
        }
        .entry-title {
            display: none;
        }
    }
    .btn-xl:hover {
        background-color: #188aab;
    }

    .btn-xl {
        padding: 20px 40px;
        border-color: #0cbff1;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        background-color: #0cbff1;
    }
    
     .header-img{
        background-image:url("./img/headerimg.svg");
        background-attachment: fixed;
        background-position: center center;
        background-repeat: none;
        background-size: cover;
    }
    
    .heading {
        text-align: center;
        color: #fff; 
    }
    
    .heading  .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    
    .heading  .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 22px;
        font-style: italic;
        line-height: 22px;
    }
    
    .heading  .intro-text .intro-heading {
        margin-bottom: 25px;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 20px;
    }
    .heading  .intro-code{
        margin-bottom: 25px;
        font-size: 18px;
        font-style: italic;
        line-height: 18px;
    }
    
    @media(min-width:768px) {
        .btn-xl {
            padding: 20px 40px;
            border-color: #0cbff1;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            background-color: #0cbff1;
        }
        .heading  .intro-text {
            padding-top: 100px;
            padding-bottom: 200px;
        }
    
        .heading  .intro-text .intro-lead-in {
            margin-bottom: 25px;
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
        }
    
        .heading  .intro-text .intro-heading {
            margin-bottom: 30px;
            text-transform: uppercase;
            font-size: 64px;
            font-weight: bold;
            line-height: 65px;
            height: 120px;
            
        }
        .heading  .intro-code{
            margin-bottom: 25px;
            font-size: 40px;
            font-style: italic;
            line-height: 40px;
        }
    }  
    @media(max-width:768px) {
        .main-navigation ul li a{
            margin: .35em auto;
        }
        .goals{
            padding: 0;
            margin: 5px;
            .row{
                margin-top: 30px;
            }
            img{
                display: block;
             margin: 0 auto;
            }
            .col-12{
                text-align: center;
            }
        }
        .navbar-header.page-scroll {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        #nav-icon1 {
            width: 60px;
            height: 100%;
            position: relative;
            float: right;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
          }
          
          #nav-icon1 span {
            display: block;
            position: absolute;
            height: 9px;
            width: 100%;
            background: #fff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
          }
          
          
          
          /* Icon 1 */
          
          #nav-icon1 span:nth-child(1) {
            top: 0px;
          }
          
          #nav-icon1 span:nth-child(2),#nav-icon1 span:nth-child(3) {
            top: 18px;
          }
          
          #nav-icon1 span:nth-child(4) {
            top: 36px;
          }
          
         .toggled  #nav-icon1 span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
          
          .toggled #nav-icon1 span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          
          .toggled #nav-icon1 span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          
          .toggled #nav-icon1 span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
    } 

}

