.sticky {
	display: block;
}
.entry-header {
	font-family: $font__Karla;
}

.cat-links {
	font-size: 90%;
	font-weight: 700;
	
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(41, 38, 38);
		
		&:focus,
		&:hover {
			background-color: $color__skin;
			color: white;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
	font-size: 2.5em;
	
	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}
	
	a {
		text-decoration: none;
		color: black;
		
		&:focus,
		&:hover {
			border-bottom: 5px solid $color__skin;
		}
	}
}

.entry-meta,
.entry-footer {
	font-family: $font__Karla;
	font-size: 40%;
	
	a {
		font-weight: 400;
		text-decoration: none;
		color: $color__skin;
		
		&:focus,
		&:hover {
			color: black;
			border-bottom: 3px solid $color__skin;
		}
	}
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 .5em;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.extra {
	display: none;
}


/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {
	
	.entry-meta {
		margin-top: 1.5em;
	}
	
	@media screen and (min-width: $query__medium) {
		.post-content__wrap {
			
			.entry-meta {
				margin-top: 2.25em;
				font-size: 60%;

				a {
					font-size: 50%;
					display: block;
					border-bottom: 3px solid white;

					&:hover,
					&:focus {
						border-bottom-color: $color__skin;
					}
				}
			}

			.byline,
			.posted-on,
			.comments-link,
			.edit-link {
				display: block;
				margin-bottom: 1em;

				&:before,
				&:after {
					margin: 0;
					content: "";
				}
			}

			.extra {
				display: inline;
			}
		}

	}	
}

/* Single Post Featured Images */

.full-bleed {
	max-height: 600px;
	margin-top: 1em;
	margin-left: -1em;
	overflow: hidden;
	
	@media screen and (min-width: $query__small) {
		margin-left: -2em;
	}
	
	@media screen and (min-width: $query__medium) {
		margin-top: 1.5em;
		margin-right: -2em;
	}
	
	@media screen and (min-width: $size__max-width) {
		margin-right: calc( ((-100vw + #{$size__max-width})/2) - 2em );
		margin-left: calc( ((-100vw + #{$size__max-width})/2) - 2em );
	}
	img {
		display: block;
		margin: 0 auto;
		max-width: 600px;
		max-height: 350px;
	}
}


.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-footer {
	margin: 1.5em 0;
	font-family: $font__Karla;
}
